
@{
    ViewData["Title"] = "Add User";
}

<h1>Add</h1>


<form method="post">
    <label>Username<input type="text" value="@ViewBag.username" name="Username" /></label>
    <label>Email<input type="text" value="@ViewBag.email" name="Email" /></label>
    <label>Password<input type="password" name="Password" /></label>
    <label>Verify Password<input type="password" name="Verify" /></label>
    
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <p>@ViewBag.Error</p>
    }
    <br />

    <input type="submit" value="Add User" />



</form>


